{% extends 'posts/base.html' %}
{% block content %}
        <div class="top_navbar">
            <div class="hamburger">
            <div class="hamburger__inner">
            <i class="fas fa-bars"></i>
            </div>
            </div>
            <ul class="menu">
                <li><a href="{% url 'crush' %}" class="active">Crushes</a></li>
                <li><a href="{% url 'statistics' %}">Statistics</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul class="right_bar">
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-sign-out-alt"></i></li>
            </ul>
        </div>
        <div class="container">
            <div class="row mb-1 posts">
                               {% for post in posts %}
                               <div class="col-md-8">
                                   <div class="cards">
                                       <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                           <div class="col p-4 d-flex flex-column position-static">
                                               <h3 class="my-1"><a class="name" href="{% url 'post-detail' post.id %}">{{post.name}}</a></h3>

                                               <div style="display:flex">
                                                   {% for tag in post.tags.all %}
                                                   <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge trait-info">#{{ tag }}</a>
                                                   {% endfor %}
                                               </div>
                                               <p class="mb-auto">{{post.nickname}}</p>
                                               <p class="mb-auto">{{post.content}}</p>
                                               <p class="mb-auto text-muted">{{post.published}}</p>
                                           </div>
                                       </div>
                                   </div>       
                               </div>
                               {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
        




